.Movie-card {
    display: flex;
    height: 250px;
    width: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: auto;
    background-size: cover;
}

.Movie-card a {
    width: 200px;
    height: 250px;
    border-radius: 5px;
    margin: auto;
    display: flex;
}

.Movie-card a img {
    margin: auto;
    border-radius: 5px;
    height: 250px;
}

.Movie-card h3 {
    margin: auto auto 0 auto;
}

.Movie-card:hover {
    transform: scale(1.05);
}

.scroll-button {
    border: none;
    mask: linear-gradient( black 80%;
    );
}