.movie-carousel {
    margin-bottom: 20px;
  }
  
  .movie-carousel h2 {
    margin-bottom: 10px;
  }
  
.carousel-container{
  display: flex;
  flex-flow: row;
}

  .carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
  }
  
  /* Hide scrollbar for aesthetic reasons */
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .carousel {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  