#forget-my-password-page {
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #261152;
}

#forget-my-password-form {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

#forget-my-password-form input {
    border: none;
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #131313;
    font-family: 'Montserrat';
    padding: 10px;
    margin: auto;
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
}

#forget-my-password-form input[type="email"] {
    width: 90%;
}

#forget-my-password-form input[type='submit'] {
    padding: 10px;
    margin: auto;
    min-width: 50%;
    background: #7ED957;
    color: #261152;
    transition: 0.3s;
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
}

#forget-my-password-form input[type='submit']:hover {
    transition: 0.3s;
    background: #261152;
    color: #FFF;
}

#forget-my-password-form input[type='email']:focus {
    outline: none;
}

.Login-card p {
    text-align: center;
    color: #131313;
    padding: 0 0 20px 0;
    margin: auto;
    width: 90%;
}

@media screen and (min-width: 1024px) {
    .Login-card {
        margin: 100px auto auto auto;
        width: 25%;
    }
}