.user-panel {
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #261152;
    margin-top: 100px;
}

.user-card {
    color: #fff;
    margin: 10px auto;
    border-radius: 25px;
    padding: 30px 20px;
    width: 80%;
    border: 1px solid #fff;
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
}

.user-card h2 {
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
}

.edit-info-container {
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 10px;
}

.edit-info-container p {
    margin: auto auto auto 0;
}

.edit-info-container button {
    margin: auto 0 auto auto;
    display: flex;
}

.user-card a {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.modal-body {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

#edit-input,
.password-input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
}

#edit-input:focus,
.password-input:focus {
    outline: none;
}

.savechanges-modal {
    background: #7ED957;
    color: #261152;
    transition: 0.3s;
    border: none;
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
}

.savechanges-modal:hover {
    background: #261152;
    color: #fff;
}

.close-modal {
    background: #f1f1f1;
    color: #121212;
    transition: 0.3s;
}

.close-modal:hover {
    border: 1px solid red;
    background: #f1f1f1;
    color: red;
    transition: 0.3s;
}

@media screen and (min-width: 1024px) {
    .user-card {
        margin: 100px auto auto auto;
        width: 25%;
    }
}