#Login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: #261152;
}

.Login-card {
    margin: auto;
    margin-top: 30%;
    background-color: white;
    border-radius: 25px;
    padding: 30px 20px;
    width: 80%;
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
}

.Login-card h2 {
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
}

#login-form {
    display: flex;
    flex-flow: column;
    margin: 20px auto auto auto;
    gap: 15px;
}

#login-form div {
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: flex;
    flex-flow: row;
    border-radius: 5px;
}

#login-form div input {
    width: 90%;
}

#login-form div section {
    display: flex;
    cursor: pointer;
    padding: 0;
    margin: auto 0 auto auto;
    box-shadow: none !important;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#login-form input {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #131313;
    font-family: 'Montserrat';
}

#login-form input[name='username'] {
    padding: 10px;
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
}

#login-form input[type='text']::placeholder,
#login-form input[type='password']::placeholder {
    color: #131313;
}

#login-form input[type='submit'] {
    padding: 10px;
    margin: auto;
    min-width: 50%;
    background: #7ED957;
    color: #261152;
    transition: 0.3s;
    -moz-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 18px 10px rgba(0, 0, 0, 0.05);
}

#login-form input[type='submit']:hover {
    transition: 0.3s;
    background: #261152;
    color: #FFF;
}

#login-form p {
    text-align: center;
    color: #131313;
    margin: auto;
}

#login-form p[onclick]:hover {
    cursor: pointer;
}

#login-form input[type='text']:focus,
#login-form input[type='password']:focus {
    outline: none;
}

@media screen and (min-width: 1024px) {
    .Login-card {
        margin: 200px auto auto auto;
        width: 25%;
    }
}