.movie-highlight {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .highlight {
    background-color: #F5F5F5; /* Light grey for movie placeholders */
    width: 31%; /* Distributes 3 items evenly with a little space between */
    height: 200px; /* Placeholder height, adjust as needed */
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .highlight:hover {
    transform: scale(1.05);
  }
  