.Home {
    background-color: #261152;
    /* Dark purple background */
    color: #FFFFFF;
    /* White color for text */
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
}

button {
    background: none;
    border: 1px solid #FFFFFF;
    /* White border for buttons */
    color: #FFFFFF;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #FFFFFF;
    color: #261152;
    transition: background-color 0.3s, color 0.3s;
}